<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    {%if title%}
    <title>Flask info - {{title}}</title>
    {%else%}
    <title> Flask info</title>
    {%endif%}
</head>


<!-- Navigation bar code -->

<body>
    <header>
        <div class="header">
            <nav class="navigation">
                <a href="#" class="navbar-logo">Logo</a>
                <div class="navbar-right">
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </div>
            </nav>

            <div class="fullscreen-video-wrap">

                <video id="bg-video" autoplay loop='true' preload muted width="1280" height="720">
                    <source src="{{url_for('static',filename= 'video/mainpage.mp4')}}" type="video/mp4">

                </video>

                <div class="display-text">
                </div>
                <h1> Roadstone - A CRH Company </h1>
                <h2>dsfiuhguishfuiguog </h2>

            </div>

        </div>
    </header>

</body>



</html>